<a href="{% url 'accounts:index' %}">記事一覧</a>
<a href="{% url 'accounts:user_index' %}">ユーザ一覧</a>
<a href="/admin/">管理者画面</a>
{% if user.is_authenticated %}
<h2>ログイン済み: {{ user.username }}</h2>
<a href="{% url 'accounts:create' %}">記事投稿</a>
<a href="{% url 'accounts:logout' %}">ログアウト</a>
{% else %}
<a href="{% url 'accounts:login' %}">ログイン</a>
<a href="{% url 'accounts:signup' %}">サインアップ</a>
{% endif %}
<hr />

<h1>ユーザ一覧</h1>
{% for user in object_list %}
<p>{{ user.username }}</p>
<p>{{ user.email }}</p>
<p>{{ user.password }}</p>
{% endfor %}
